#Copyright (c) 2011-2021 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.nv_dev_board.usb.rc
import /vendor/etc/init/hw/init.xusb.configfs.usb.rc
import /vendor/etc/init/hw/init.sata.configs.rc
import /vendor/etc/init/hw/init.${ro.boot.modem}.rc
import /vendor/etc/init/hw/init.comms.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=0755

on init
    mkdir /dev/camera 0755 media camera

    # Support legacy paths
    symlink /sdcard /mnt/sdcard

    # create directory for mounting calibration partition
    mkdir /mnt/vendor/factory 0755 root system

on fs
# mount console ramooops
   mount pstore pstore /sys/fs/pstore

on post-fs-data
    chown system system /mnt/vendor/wifi_config
    chmod 0666 /mnt/vendor/wifi_config

    mkdir /data/vendor/hwc 0771 system graphics

    mkdir /data/vendor/mediadrm 0770 mediadrm mediadrm

    #create Nv sensors socket dir
    mkdir /data/vendor/misc/nvsipc 0777 system system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # create directory for camera calibration data
    mkdir /mnt/vendor/factory/camera 0666 system system

    # create directory for camera cached data
    mkdir /data/vendor/nvcam 0700 cameraserver camera

    # Enable backpressure logic
    setprop debug.sf.enable_gl_backpressure 1

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

# Set up HDCP
import /vendor/etc/init/hw/init.hdcp.rc

on boot

# didim
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/enable
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/aggressiveness
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/sd_window
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/sd_window_enable

# CMU
    chown system system /sys/devices/platform/host1x/tegradc.0/cmu_enable
    chown system system /sys/devices/platform/host1x/tegradc.1/cmu_enable

# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/kernel/tegra_volt_cap/cpu_volt
    chmod 0664 /sys/kernel/tegra_volt_cap/cpu_volt
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/devices/platform/host1x/gk20a.0/enable_3d_scaling

# audio
    chmod 0664 /sys/power/suspend/mode
    chown system audio /sys/power/suspend/mode

# Tegra wakeup monitor
    chown system system /sys/devices/platform/tegra_wakeup_monitor/cmd
    chown system system /sys/devices/platform/tegra_wakeup_monitor/monitor_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/nf_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/am_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/init_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/add_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/del_ports

# nvdps
    chown system system /sys/devices/platform/host1x/tegradc.0/nvdps

# vrr
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/capability
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_fps
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/min_fps
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_flip_pct
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_adj_pct
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_dc_balance
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_inc_pct

#mmc
    chown system system /sys/devices/sdhci-tegra.0/mmc_host/mmc2/error_stats

on property:init.svc.vendor.lkm_loader=stopped
    # ozwpan driver: WiFi direct USB shim driver
    chown system system /dev/ozwpan
    chown system system /sys/class/ozmo_wpan/ozwpan/devices
    chown system system /sys/class/ozmo_wpan/ozwpan/select
    chown system system /sys/class/ozmo_wpan/ozwpan/bind
    chmod 0660 /sys/class/ozmo_wpan/ozwpan/bind
    chmod 0666 /sys/class/ozmo_wpan/ozwpan/select
    chmod 0444 /sys/class/ozmo_wpan/ozwpan/devices

# TLK storage service
import /vendor/etc/init/hw/init.tlk.rc
import /vendor/etc/init/hw/init.tf.rc

on property:ro.debuggable=1
    # EMC debug interface
    chmod 666 /sys/kernel/debug/tegra_emc/eack_state

on shutdown
    # Let go all console messages during reboot/shutdown
    write /proc/sys/kernel/printk "8 4 1 7"

# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -p -B -z -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 116 115 114

# nvidiafeedback triggered by nvidiafeedback app
service nvidiafeedback /system/bin/dumpstate -n -z -o /data/anr/nvfeedback
    class main
    disabled
    oneshot

# unified scaling setup
import /vendor/etc/init/hw/init.nvphsd_setup.rc

# Customers should remove this line
import /vendor/etc/init/hw/init.qvs.rc
