# Copyright (c) 2017-2019 NVIDIA Corporation.  All Rights Reserved.
#
# NVIDIA Corporation and its licensors retain all intellectual property and
# proprietary rights in and to this software and related documentation.  Any
# use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from NVIDIA Corporation
# is strictly prohibited.

#
# Loadable Kernel Modules (LKM) Service
#

service vendor.lkm_loader /vendor/bin/lkm_loader.sh
    class main
    user root
    group root
    oneshot
    disabled

service vendor.lkm_loader_target /vendor/bin/lkm_loader_target.sh
    class main
    user root
    group root
    oneshot
    disabled

on fs
    exec_start vendor.lkm_loader_target
    exec_start vendor.lkm_loader

on property:init.svc.vendor.lkm_loader=stopped
    restorecon_recursive /sys
