allow bootanim hwc_prop:file {getattr open read};
allow bootanim tegra_graphics_prop:file {getattr open read};
allow bootanim vendor_debug_prop:file {getattr open read};

