type tlk_data_file, file_type, data_file_type, core_data_file_type;

type proc_kernel, proc_type, fs_type;
type proc_legacy_va_layout, proc_type, fs_type;
type proc_min_free_kbytes, proc_type, fs_type;

type sysfs_board, sysfs_type, fs_type;

