allow hal_graphics_allocator_default hwc_prop:file {getattr open read};
allow hal_graphics_allocator_default tegra_graphics_prop:file {getattr open read};

