allow priv_app hal_memtrack_default:binder call;

allow priv_app hwc_prop:file {getattr open read};

allow priv_app proc_interrupts:file r_file_perms;
allow priv_app proc_pci:file r_file_perms;
allow priv_app sysfs_android_usb:file r_file_perms;
allow priv_app sysfs_block:dir r_dir_perms;
allow priv_app sysfs_block:file r_file_perms;
allow priv_app sysfs_block:lnk_file r_file_perms;
allow priv_app zygote:dir r_dir_perms;

# MediaShell
allow priv_app proc_net:file r_file_perms;

