allow system_app wificond:binder call;

allow system_app apexd_prop:file read;
allow system_app audiohal_prop:file read;
allow system_app audiohal_ro_prop:file read;
allow system_app tegra_graphics_prop:file read;
