allow system_server sysfs_hdmi_audio:file r_file_perms;
allow system_server sysfs_hdmi_audio:lnk_file r_file_perms;
allow system_server sysfs_class_extcon:dir r_dir_perms;
allow system_server sysfs_block:lnk_file r_file_perms;
