allow vendor_init same_process_hal_file:file r_file_perms;

allow vendor_init debugfs_cluster:file rw_file_perms;
allow vendor_init proc_extra_free_kbytes:file rw_file_perms;
allow vendor_init proc_kernel:file rw_file_perms;
allow vendor_init proc_min_free_kbytes:file rw_file_perms;
allow vendor_init proc_legacy_va_layout:file rw_file_perms;
allow vendor_init sysfs_block:file r_file_perms;
allow vendor_init sysfs_block:lnk_file r_file_perms;
allow vendor_init sysfs_ethernet_power:file {relabelfrom r_file_perms};
allow vendor_init sysfs_thermal_fan:file {relabelto r_file_perms};
allow vendor_init sysfs_usermodehelper:file r_file_perms;

