allow zygote hwc_prop:file {getattr open read};
allow zygote tegra_graphics_prop:file {getattr open read};
allow zygote vendor_debug_prop:file {getattr open read};
